tqdm==4.46.0
torch==1.9.0
scipy==1.4.1
pycocotools==2.0.1
imgaug==0.4.0
numpy==1.21.5
Pillow==8.3.2
PyYAML==5.4
tensorboardX==2.1
bezier==2020.5.19
networkx==2.6.3
parse==1.19.0
davisinteractive==1.0.4